#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    macros {
        lang_change: lang_change {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RCTRL &kp SPACE>;
            label = "LANG_CHANGE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp EQUAL  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5  &mo 3                                                &none              &kp N6  &kp N7  &kp N8     &kp N9    &kp N0    &kp MINUS
&kp TAB    &kp Q   &kp W   &kp E   &kp R   &kp T   &none                                                &kp RIGHT_COMMAND  &kp Y   &kp U   &kp I      &kp O     &kp P     &kp BSLH
&kp ESC    &kp A   &kp S   &kp D   &kp F   &kp G   &none     &none         &none      &none  &none      &kp RCTRL          &kp H   &kp J   &kp K      &kp L     &kp SEMI  &kp SQT
&kp LSHFT  &kp Z   &kp X   &kp C   &kp V   &kp B                           &none      &none                                &kp N   &kp M   &kp COMMA  &kp DOT   &kp FSLH  &kp GRAVE
&mo 1      &none   &none   &none   &none           &kp BSPC  &lang_change  &none      &none  &kp ENTER  &kp SPACE                  &none   &none      &kp LBKT  &kp RBKT  &mo 2
            >;
        };

        KEYPAD {
            bindings = <
&none  &none           &none         &none           &none            &none  &none                                                      &none      &kp KP_LPAR  &kp KP_NUM       &kp EQUAL     &kp SLASH   &kp KP_MULTIPLY  &none
&none  &none           &none         &none           &none            &none  &none                                                      &none      &kp KP_RPAR  &kp KP_NUMBER_7  &kp KP_N8     &kp KP_N9   &kp KP_MINUS     &none
&none  &kp DOWN_ARROW  &kp UP_ARROW  &kp LEFT_ARROW  &kp RIGHT_ARROW  &none  &none          &none  &none      &kp RIGHT_COMMAND  &none  &kp RCTRL  &none        &kp KP_N4        &kp KP_N5     &kp KP_N6   &kp KP_PLUS      &none
&none  &none           &none         &none           &none            &none                        &none      &none                                &none        &kp KP_N1        &kp KP_N2     &kp KP_N3   &kp KP_ENTER     &none
&none  &none           &none         &none           &none                   &kp BACKSPACE  &none  &none      &none              &none  &none                   &none            &kp KP_COMMA  &kp KP_DOT  &none            &none
            >;
        };

        fn {
            display-name = "Fn";
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &none                                  &none  &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&none   &none   &none   &none   &none   &none   &none                                  &none  &none   &none   &none   &none    &none    &none
&none   &none   &none   &none   &none   &none   &none  &none  &none      &none  &none  &none  &none   &none   &none   &none    &none    &none
&none   &none   &none   &none   &none   &none                 &none      &none                &none   &none   &none   &none    &none    &none
&none   &none   &none   &none   &none           &none  &none  &none      &none  &none  &none          &none   &none   &none    &none    &none
            >;
        };

        mod {
            display-name = "Mod";
            bindings = <
&bootloader  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none                                            &none            &none  &none       &none       &none  &none  &none
&none        &none         &none         &none         &none         &none         &none                                            &none            &none  &none       &none       &none  &none  &none
&none        &none         &none         &none         &none         &none         &none  &none  &none      &bt BT_CLR  &none       &none            &none  &none       &none       &none  &none  &none
&none        &none         &none         &none         &none         &none                       &none      &none                                    &none  &none       &none       &none  &none  &none
&none        &none         &none         &none         &none                       &none  &none  &none      &none       &bl BL_TOG  &rgb_ug RGB_TOG         &bl BL_INC  &bl BL_DEC  &none  &none  &none
            >;
        };
    };
};
